{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}{% trans "Social Media Accounts" %} : {% endblock %}

{% block container %}
    <div class="row-fluid">
        <div class="span3">
            {% include 'account/sidebar.html' with active='social' %}
        </div>
        <div class="span9">
            <h4>{% trans "Social Media Accounts" %}</h4>
            {% get_social_accounts user as accounts %}
            <ul class="login-list">
            {% if 'twitter' in accounts %}
                <li class="row-fluid">
                    <a href="#" class="btn btn-info btn-large span7 disabled">
                        <i class="icon-twitter"></i> {% trans "Twitter is connected" %}
                    </a>
                    {% if accounts|length != 1 %}
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="account" value="{{ accounts.twitter.0.pk }}">
                        <button type="submit" class="btn btn-large btn-warning span2">
                            <i class="icon-remove"></i> {% trans 'Remove' %}
                        </button>
                    </form>
                    {% endif %}
                </li>
            {% else %}
                <li class="row-fluid">
                    <a href="{% provider_login_url "twitter" process="connect" %}" class="btn btn-info btn-large span7">
                        <i class="icon-twitter"></i> {% trans "Connect Twitter" %}
                    </a>
                </li>
            {% endif %}
            {% if 'google' in accounts %}
                <li class="row-fluid">
                    <a href="#" class="btn btn-danger btn-large span7 disabled">
                        <i class="icon-google-plus"></i> {% trans "Google+ is connected" %}
                    </a>
                    {% if accounts|length != 1 %}
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="account" value="{{ accounts.google.0.pk }}">
                        <button type="submit" class="btn btn-large btn-warning span2">
                            <i class="icon-remove"></i> {% trans 'Remove' %}
                        </button>
                    </form>
                    {% endif %}
                </li>
            {% else %}
                <li class="row-fluid">
                    <a href="{% provider_login_url "google" process="connect" %}" class="btn btn-danger btn-large span7">
                        <i class="icon-google-plus"></i> {% trans "Connect Google+" %}
                    </a>
                </li>
            {% endif %}
            {% if 'facebook' in accounts %}
                <li class="row-fluid">
                    <a href="#" class="btn btn-primary btn-large span7 disabled">
                        <i class="icon-facebook"></i> {% trans "Facebook is connected" %}
                    </a>
                    {% if accounts|length != 1 %}
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="account" value="{{ accounts.facebook.0.pk }}">
                        <button type="submit" class="btn btn-large btn-warning span2">
                            <i class="icon-remove"></i> {% trans 'Remove' %}
                        </button>
                    </form>
                    {% endif %}
                </li>
            {% else %}
                <li class="row-fluid">
                    <a href="{% provider_login_url "facebook" process="connect" method="oauth2" %}" class="btn btn-primary btn-large span7">
                        <i class="icon-facebook"></i> {% trans "Connect Facebook" %}
                    </a>
                </li>
            {% endif %}
            </ul>
            <p>{% trans 'At least one social media account is required.' %}</p>
        </div>
    </div>
{% endblock %}
