{% extends "base.html" %}

{% block title %}Welcome to my sample application{% endblock %}

{% block container %}
    {% include "account/login-form.html" %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
