{% load socialaccount %}{% load i18n %}
<ul class="login-list">
    <li class="row-fluid">
        <a href="{% provider_login_url "twitter" next="/" %}" class="btn btn-info btn-large span8 offset2">
            <i class="icon-twitter"></i> {% trans "Login with Twitter" %}
        </a>
    </li>
    <li class="row-fluid">
        <a href="{% provider_login_url "google" next="/" %}" class="btn btn-danger btn-large span8 offset2">
            <i class="icon-google-plus"></i> {% trans "Login with Google+" %}
        </a>
    </li>
    <li class="row-fluid">
        <a href="{% provider_login_url "facebook" method="oauth2" next="/" %}" class="btn btn-primary btn-large span8 offset2">
            <i class="icon-facebook"></i> {% trans "Login with Facebook" %}
        </a>
    </li>
</ul>
<p>mesajatma.org, sosyal medya hesabınızdan mümkün olan en az bilgiyi istemektedir, diğer bilgiler ihtiyacımız olmamasına rağmen verilmektedir.</p>