{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Personal Information" %} : {% endblock %}

{% block container %}
    <div class="row-fluid">
        <div class="span3">
            {% include 'account/sidebar.html' with active='profile' %}
        </div>
        <div class="span9">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block post_scripts %}
    {% if request.user.is_anonymous %}
        <script>
            $(function() {
                {% if not form.email.value %}
                    window.flashMessage({
                        level: 'info',
                        message: '{% trans 'Only email address is missing.' %}'
                    });
                {% elif form.is_email_registered and not form.errors %}
                    window.flashMessage({
                        level: 'warning',
                        message: '{% trans 'This email is already registered, connected with another social media account?' %}'
                    });
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}