{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "My Spam Reports" %} : {% endblock %}

{% block container %}
    <div class="row-fluid">
        <div class="span3">
            {% include 'account/sidebar.html' with active='reports' %}
        </div>
        <div class="span9">
            <h4>{% trans "My Spam Reports" %}</h4>
            <div class="accordion" id="accordion1">
                {% for o in orgs %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" href="#spam-org-{{ o.pk }}">
                        {{ o.name }}
                      </a>
                    </div>
                <div id="spam-org-{{ o.pk }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                    {% include "org-header.html" with org=o single=True %}
                    {% for s in smss %}
                    {% if s.organisation == o.pk %}
                        <div class="sms-message well"><a href="{% url 'spam' slug=s.slug org_slug=s.organisation__slug %}">{{ s.text }}</a></div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
              </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
