{% load i18n %}
<ul class="nav nav-tabs nav-stacked">
    <li class="{% if active == 'profile' %}active{% endif %}"><a href="{% url 'account-profile' %}">{% trans "Personal Information" %}</a></li>
    <li class="{% if active == 'social' %}active{% endif %}"><a href="{% url 'socialaccount_connections' %}">{% trans "Social Media Accounts" %}</a></li>
    <li class="{% if active == 'reports' %}active{% endif %}"><a href="{% url 'account-reports' %}">{% trans "My Spam Reports" %} </a></li>
</ul>