{% extends "base.html" %}

{% block title %}mesajatma.org nedir : {% endblock %}

{% block container %}
    <div class="row-fluid">
        <div class="span11 viewport">
            <h2>MesajAtma.org nedir?</h2>
            <div class="hero-unit">
                <p class="lead">Biz, her gün telefonuna bankalardan, alışveriş sitelerinden,
                süpermarketlerden, otellerden ve bunun gibi bir sürü işletmeden istenmeyen
                reklam mesajları gelen, bu mesajlardan rahatsız olan ve soruna bir çözüm
                getirme yoluna girmiş bir platformuz.</p>

                <p class="lead">Hedefimiz, sizin de desteğinizle izinsiz mesaj gönderenlere karşı
                yaptırım gücü oluşturabilmektir. Söz konusu şirketlerle iletişime geçmeye
                çalışarak mesaj listelerinden çıkartılmayı ve bu gönderenlere de çeki düzen
                vermeyi hedeflemekteyiz.</p>
            </div>
        </div>
    </div>
{% endblock %}