/* BASE */
#topbar, .container {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#topbar a.btn-navbar {
    z-index: 10;
}

.navbar-fixed-top .navbar-inner {
    background: #fff none;
    box-shadow: none;
}
#logo-mesajatma {
    font-size: 120%;
    margin-left: 64px;
}
.viewport {
    float: none !important;
    margin: 0 auto 1em auto !important;
}
.viewport p {
    color: darkgray;
}
ul li {
    list-style: none;
}
.login-form p {
    color: darkgray;
}
ul.login-list {
    margin: 0;
}
ul.login-list li a {
    margin-bottom: 1em;
}

ul.login-list li a i {
    margin-right: 0.6em;
}
.addthis_toolbox {
    /*margin-bottom: 2em;*/
}
.addthis_toolbox a {
    float: none !important;
}
.addthis_32x32_style {
    margin-bottom: auto;
}
.addthis_32x32_style a {
    float: left !important;
    margin-right: 0.5em;
}
#alert-container {
    z-index: 10;
    position: fixed;
    bottom: 2em;
}
.alert .close {
    font-size: 3em;
}


/* Fuel UX */
.wizard {
  /*background-color: #f9f9f9;*/
  /*border: 1px solid #d4d4d4;*/
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
     /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
          /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
}

.wizard:before,
.wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.wizard:after {
  clear: both;
}

.wizard ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 26px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  /*background: #ededed;*/
  border: 1px solid #d4d4d4;
}

.wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.wizard ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #fff;
  content: "";
}

.wizard ul li.complete {
  color: #468847;
  /*background: #f3f4f5;*/
}

.wizard ul li.complete:hover {
  /*cursor: pointer;*/
  /*background: #e7eff8;*/
}

.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #fff;
}

.wizard ul li.complete .chevron:before {
  border-left: 14px solid #fff;
}

.wizard ul li.active {
  color: darkorange;
  background: #f1f6fc;
}

.wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}

.wizard ul li .badge {
  margin-right: 8px;
}

.wizard ul li:nth-child(1) {
  z-index: 10;
  padding-left: 14px;
  border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(2) {
  z-index: 9;
}

.wizard ul li:nth-child(3) {
  z-index: 8;
}

.wizard ul li:nth-child(4) {
  z-index: 7;
}

.wizard ul li:nth-child(5) {
  z-index: 6;
}

.wizard ul li:nth-child(6) {
  z-index: 5;
}

.wizard ul li:nth-child(7) {
  z-index: 4;
}

.wizard ul li:nth-child(8) {
  z-index: 3;
}

.wizard ul li:nth-child(9) {
  z-index: 2;
}

.wizard ul li:nth-child(10) {
  z-index: 1;
}

.step-content .step-pane {
  display: none;
}

.step-content .active {
  display: block;
}

.step-content textarea, .step-content input[type="text"] {
    background-color: #e7eff8;
}

/* Fuel UX */

/* HOME */
.hero-unit {
    background-color: #f8f8f8;
    padding: 3em;
}
.hero-unit h3 {
    margin-top: 0;
}
#report-steps {
    margin-bottom: 1em;
}
#report-steps ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #fbb450;
    background-image: -moz-linear-gradient(top, #fbb45f, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb45f), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb45f, #f89406);
    background-image: -o-linear-gradient(top, #fbb45f, #f89406);
    background-image: linear-gradient(to bottom, #fbb45f, #f89406);
}

ul.stat-summary-list li {
    overflow: hidden;
}

ul.stat-summary-list img {
    margin-right: 1em;
    margin-bottom: 1em;
}

/* HOME */

/* ORGANISATION AND SPAM DETAIL */
.org-header a.add-logo {
    text-decoration: none;
}
div.selection:hover {
    background-color: lightyellow;
    cursor: pointer;
}
ul.tags-list {
    margin-left: 0;
    font-size: 1.6em;
}
.sms-message-header {
    margin-bottom: 1.2em;
}
.sms-message a {
    color: inherit;
}
.sms-message a:hover {
    text-decoration: none;
}
.org-header {
    margin-bottom: 3em !important;
}
.org-header > a {
    margin-right: 1em;
}

.org-header .org-text {
    overflow: hidden;
}
.org-header .org-text h4 {
    margin-top: 0;
}

/* MOBILE TWEAKS */
@media (max-width: 767px) {
    .addthis_32x32_style {
        margin-bottom: 1em !important;
        float: none !important;
    }
    #alert-container {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        left: 10%;
        bottom: 0.5em;
    }
    .org-header {
        margin-bottom: 1em !important;
    }
    .org-header .org-logo {
        max-width: 120px;
        float: left !important;
        margin-right: 1em;
    }
    .org-header .org-text {
        width: auto !important;
    }
}

/* DESKTOP TWEAKS */
@media (min-width: 979px) {
    .wizard ul li .badge.visible-desktop {
      display: inline-block !important;
    }
}

