{% load socialaccount %}{% load i18n %}{% spaceless %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}Mesaj Atma!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta property="fb:app_id" content="175663022449140"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css"><![endif]-->
    <style>
        body {
            padding-top: 90px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-fixed-top navbar-text">
    <div class="navbar-inner">
        <div class="container">
            <div class="span11" id="topbar">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'home' %}">
                    <img src="{{ STATIC_URL }}img/logo-trans.png" alt="Mesaj Atma!">
                </a>
                <div class="nav-collapse collapse pull-right">
                    <ul id="bar-menu" class="nav">
                        <li><a href="{% url 'static-view' page='nedir' %}">{% trans "What?" %}</a></li>
                        <li><a href="{% url 'stats' %}">{% trans "Stats" %}</a></li>
                        <li class="hide"><a href="#login-modal" role="button" data-toggle="modal">{% trans "Login / Signup" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container span11">
    {% block container %}{% endblock %}

    <footer>
        <p><a href="https://twitter.com/mesajatma" class="twitter-follow-button" data-show-count="false" data-lang="tr">Takip et: @mesajatma</a></p>
    </footer>
    <div id="login-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Login / Signup" %}</h3>
        </div>
        <div class="modal-body login-form text-center">
            {% include "account/login-form.html" %}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    </div>
    <li id="bar-menu-myaccount" class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-large"></i> {% trans "My Account" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'account-profile' %}"><i class="icon-cogs"></i> {% trans "Personal Information" %}</a></li>
            <li><a href="{% url 'socialaccount_connections' %}"><i class="icon-user"></i> {% trans "Social Media Accounts" %}</a></li>
            <li><a href="{% url 'account-reports' %}"><i class="icon-ban-circle"></i> {% trans "My Spam Reports" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'account-logout' %}"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
        </ul>
    </li>
    <div id="alert-container" class="span3">
        <div class="alert hide">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"><\/script>')</script>
<script>
var AJAX_URL = {
    PROFILE: '{% url 'ajax-profile' %}',
    ORG_LOOKUP: '{% url 'ajax-lookup-org' %}'
};
</script>
{% providers_media_js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d5f1324b9bfd63"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.coffee.cookie.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.tagcanvas.min.js"></script>
{#<script src="{{ STATIC_URL }}js/plugins.js"></script>#}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% block post_scripts %}{% endblock %}
<script>
var _gaq=[['_setAccount','UA-41574434-1'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>{% endspaceless %}