{% extends "base.html" %}
{% load i18n %}

{% block container %}
    <div class="row-fluid">
        <div class="span11 viewport">
            <div class="addthis_toolbox addthis_default_style hidden-phone">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <div class="hero-unit hidden-phone">
                <h3>mesajatma.org nedir?</h3>
                <div class="row-fluid">
                    <p class="span6">
                        Mesaj Atma! cep telefonlarımıza izinsiz reklam mesajları
                        gönderen şirketlere karşı tek çatı altında yaptırım gücü
                        oluşturmak amacıyla oluşturulmuş bir topluluk sitesidir.
                    </p>
                    <p class="span6">
                        Rahatsız olduğunuz kısa mesajları bildirmek için, akıllı
                        cep telefonunuzdan mesajı kopyalayarak
                        <a href="{% url 'home' %}">mesajatma.org</a>'a
                        giriş yapmalısınız.
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 offset3 visible-phone">
                    <div class="wizard" id="report-steps">
                        <ul id="steps">
                            <li><span class="badge visible-desktop">1</span>{% trans "Login" %}<span class="chevron"></span></li>
                            <li><span class="badge visible-desktop">2</span>{% trans "Paste" %}<span class="chevron"></span></li>
                            <li><span class="badge visible-desktop">3</span>{% trans "Confirm" %}<span class="chevron"></span></li>
                        </ul>
                    </div>
                    <div class="step-content">
                        <div class="step-pane login-form text-center">
                            {% include "account/login-form.html" %}
                        </div>
                        <div class="step-pane">
                            <form id="report-form-text" method="post" action="{% url 'ajax-report' step='sms' %}">
                                <div class="controls-row">
                                    <textarea name="report-text" class="input-block-level" rows="4" placeholder="{% trans 'Paste the short text here that you complain' %}"></textarea>
                                </div>
                                <button class="btn btn-warning pull-right" type="submit">{% trans "Send" %}</button>
                            </form>
                        </div>
                        <div class="step-pane text-center">
                            <form id="report-form-org" class="input-append" method="post" action="{% url 'ajax-report' step='organisation' %}">
                                <input type="text" name="report-org" class="org-lookup input-xlarge appendedInputButtons" placeholder="{% trans "Company Name" %}">
                                <button class="btn btn-warning" type="submit">Mesaj Atma!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stats-summary" class="row-fluid">
        <div style="margin-bottom: 3em">
            <h4>{% trans "Lately complained messages" %}</h4>
            <ul class="stat-summary-list">
                {% for r in last_reports %}
                    <li class="span4">
                        {% if r.organisation__logo %}
                            <a href="{% url "organisation" slug=r.organisation__slug %}">
                                <img src="{{ MEDIA_URL }}{{ r.organisation__logo }}" width="80" class="pull-left" alt="{{ r.organisation__name }}">
                            </a>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/no-logo_tr.png" width="80" class="pull-left">
                        {% endif %}
                        <p><a href="{% url "organisation" slug=r.organisation__slug %}">{{ r.organisation__name }}</a></p>
                        <p class="sms-message">
                            <a href="{% url "spam" org_slug=r.organisation__slug slug=r.spam__slug %}">
                                {{ r.spam__smsspam__text|truncatewords:10 }}
                            </a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>
{% endblock %}