{% load i18n %}
<div class="row-fluid">
    <div class="span11 viewport org-header row-fluid">
        <div class="org-logo span2 text-center">
            {% if org.logo %}
            <a href="{% url 'organisation' slug=org.slug %}">
                <img width="120" height="60" src="{{ MEDIA_URL }}{{ org.logo }}" alt="{{ org.name }}">
            </a>
            {% else %}
            <img width="120" height="60" src="{{ STATIC_URL }}img/no-logo_tr.png"><br>
            <a href="#" class="hidden-phone hide add-logo" data-toggle="modal" data-org="{{ org.pk }}">
                <i class="icon-upload" style="font-size: 120%"></i> {% trans 'add logo' %}
            </a>
            {% endif %}
        </div>
        <div class="org-text span10">
            <a href="{% url 'organisation' slug=org.slug %}"><h4>{{ org.name }}</h4></a>
            <p>{% blocktrans with count=org.report_count %}{{ count }} people complaining about marketing messages{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% if not org.logo %}
<div id="add-logo-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Add a company logo' %}</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
{% endif %}