{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with org_name=org.name %}Unauthorized marketing messages from {{ org_name }}{% endblocktrans %} : {% endblock %}

{% block container %}
    {% include "org-header.html" with org=org %}
    <div class="row-fluid">
        <div class="span11 viewport">
        {% for sms in smss %}
        <div class="row-fluid">
            <div class="span2">{{ sms.report_count }} {% trans "people complained about this message" %} </div>
            <div class="sms-message span7 well">
                <a href="{% url 'spam' org_slug=sms.organisation__slug slug=sms.slug %}">{{ sms.text }}</a>
            </div>
            <div class="span3 hidden-phone">
                <canvas class="tags-canvas" id="tags-canvas-{{ sms.pk }}" width="220" height="160">
                    <p>{% trans "Your browser is out of date, please upgrade or install a modern one." %}</p>
                    <ul>
                        {% for t in sms_tags %}
                        {% if t.sms_id == sms.pk %}
                        <li><a href="#" data-weight="{{ t.counter }}">{{ t.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </canvas>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}