{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ sms.org.name }} : {{ sms.text|truncatewords:10 }} : {% endblock %}

{% block container %}
    {% include "org-header.html" with org=org %}
    <div class="row-fluid">
        <div class="span11 viewport">
            <div class="span7 offset1">
                <div class="sms-message-header">
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <p>
                        <span class="unauthorized-count">{{ sms.report_count }}</span> {% trans "people complained about this message" %}
                    </p>
                </div>
                <div class="sms-message well">{{ sms.text }}</div>
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="560" data-num-posts="10"></div>
            </div>
            <div class="span3 offset1 hidden-phone">
                <div id="tags-container">
                    <form id="add-tag-form" method="POST" action="{% url 'ajax-add-tag' %}" class="hide">
                        <input name="sms_id" type="hidden" value="{{ sms.id }}">
                        <input class="input-block-level" name="tag" type="text" placeholder="{% trans "add new tag" %}">
                    </form>
                    <canvas class="tags-canvas" id="tags-canvas-{{ sms.pk }}" width="220" height="260">
                        <p>{% trans "Your browser is out of date, please upgrade or install a modern one." %}</p>
                        <ul>
                            {% for t in sms_tags %}
                            <li><a href="#" data-weight="{{ t.counter }}">{{ t.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
