{% extends 'base.html' %}
{% load utils %}
{% load i18n %}

{% block title %}{% trans 'Advertisement message stats' %} : {% endblock %}

{% block container %}
{#    <ul class="nav nav-tabs">#}
{#        <li class="active"><a href="#chart-all-times" data-toggle="tab">Tum zamanlar</a></li>#}
{#        <li><a href="#chart-last-month" data-toggle="tab">Son 1 ay</a></li>#}
{#        <li><a href="#chart-last-week" data-toggle="tab">Son 7 gun</a></li>#}
{#        <li><a href="#chart-last-day" data-toggle="tab">Son 24 saat</a></li>#}
{#    </ul>#}

    <div class="tab-content">
        <div class="tab-pane active" id="chart-all-times" style="height: 400px;"></div>
        <div class="tab-pane" id="chart-last-month">month</div>
        <div class="tab-pane" id="chart-last-week">week</div>
        <div class="tab-pane" id="chart-last-day">day</div>
    </div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>
{% endblock %}

{% block post_scripts %}
<script type="text/javascript">
google.load('visualization', '1.0', {'packages':['corechart']});

var all_times = {{ all_times|jsonify }}

$(function() {
    drawColumnChart(
        '#chart-all-times',
        all_times,
        'En çok reklam mesajı atanlar - Tüm zamanlar'
    )
});
</script>
{% endblock %}